<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ShowBalance</servlet-name>
        <servlet-class>ShowBalance</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>operationServlet</servlet-name>
        <servlet-class>operationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>test</servlet-name>
        <servlet-class>test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controleCriacao</servlet-name>
        <servlet-class>controleCriacao</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>controleSaldo</servlet-name>
        <servlet-class>controleSaldo</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowBalance</servlet-name>
        <url-pattern>/ShowBalance</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>operationServlet</servlet-name>
        <url-pattern>/operationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>test</servlet-name>
        <url-pattern>/test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controleCriacao</servlet-name>
        <url-pattern>/controleCriacao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controleSaldo</servlet-name>
        <url-pattern>/controleSaldo</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
